<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Inicio</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Consulta</a></li>
  <li class="{% if page.url contains '/kit-de-instalacion/' %} active {% endif %}"><a href="{{ "/kit-de-instalacion/" | absolute_url }}">kit de instalacion</a></li>
  <li class="{% if page.url contains '/llave-en-mano/' %} active {% endif %}"><a href="{{ "/llave-en-mano/" | absolute_url }}">llave en mano</a></li>
  <li class="{% if page.url contains '/monitorizacion/' %} active {% endif %}"><a href="{{ "/monitorizacion/" | absolute_url }}">monitorizacion</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Le puede ineresar</a></li>

</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
